<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <form action="/products/editproduct/<%= product.producto_id %>" method="post" enctype="multipart/form-data">
            <div class="div-form-create">
                <h2>EDITAR PRODUCTO</h2>
                <div>
                    <label for="name">Nombre</label>
                    <input class= <%= locals.errors && errors.name ? "input-error" : null %> type="text" id="name" name="name" placeholder="Nombre 5 caracteres" value="<%= typeof old !== 'undefined' && old.name ? old.name : '' %>">
                    <% if (locals.errors && errors.name){ %>
                    <span class="form-validationError"> <%= errors.name.msg %> </span>
                    <% } %>
                </div>
                <div>
                    <label for="description">Descripcion</label>
                    <input class= <%= locals.errors && errors.descripcion ? "input-error" : null %> type="text" id="descripcion" name="descripcion" placeholder="descripcion 20 caracteres" value="<%= typeof old !== 'undefined' && old.descripcion ? old.descripcion : '' %>"> 
                    <% if (locals.errors && errors.descripcion){ %>
                        <span class="form-validationError">
                            <%= errors.descripcion.msg %>
                        </span>
                    <% } %>
                </div>
                <div>
                    <label for="category">Categoría</label>
                    <select name="category" id="category">
                        <option value="">Selecciona una categoría</option>
                        <option value="1">Insecticida</option>
                        <option value="2">Herbicida</option>
                        <option value="3">Pesticida</option>
                        <option value="4">Solución</option>
                    </select>
                    <% if (locals.errors && errors.category){ %>
                        <span class="form-validationError"> <%= errors.category.msg %> </span>
                    <% } %>
                </div>
                <div>
                    <label for="price">Precio</label>
                    <input type="number" class= <%= locals.errors && errors.price ? "input-error" : null %>  id="price" name="price" placeholder="Ingrese el Precio" value="<%= typeof old !== 'undefined' && old.price ? old.price : '' %>"> <% if (locals.errors && errors.price){ %>
                    <span class="form-validationError"> <%= errors.price.msg %> </span>
                    <% } %>
                </div>
                <div>
                    <label for="stock" >Stock</label>
                    <input type="number" class= <%= locals.errors && errors.stock ? "input-error" : null %>  id="stock" name="stock" placeholder="Ingrese el stock" value="<%= typeof old !== 'undefined' && old.stock ? old.stock : '' %>"> <% if (locals.errors && errors.stock){ %>
                    <span class="form-validationError"> <%= errors.stock.msg %> </span>
                    <% } %>
                </div>
                <div>
                    <img src="/images/<%= product.producto_imagen %>" alt="">
                </div>
                <div>
                    <label for="productImage">Seleccionar imagen:</label>
                    <input type="file" id="productImage" name="productImage" accept="productImage">
                </div>
                <div class="div-button-submit">
                    <button type="submit" class="btn-new-product">GUARDAR</button>
                </div>
            </div>
        </form> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
