<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        
        <form action="/producto/editar/<%= product.producto_id %>" method="post" enctype="multipart/form-data">
            <div class="div-form-create">
                <h2>EDITAR PRODUCTO</h2>
                <div>
                    <label for="descripcion">Nombre</label>
                    <input type="text" placeholder="<%= product.producto_descripcion %>" value="<%= product.producto_descripcion %>" name="descripcion" id="descripcion" >
                </div>
                <div>
                    <label for="detalle">Descripcion</label>
                    <input type="text" placeholder="<%= product.producto_detalle %>" name="detalle" id="detalle" value="<%= product.producto_detalle %>">
                </div>
                <div>
                    <label for="category">Categoria</label>
                    <select name="category" id="category" required>
                        <option value="">Selecciona una categoría</option>
                        <option value="1">Insecticida</option>
                        <option value="2">Herbicida</option>
                        <option value="3">Pesticida</option>
                        <option value="4">Solucion</option>
                    </select>
                </div>
                <div>
                    <label for="precio">Precio</label>
                    <input type="number" placeholder="<%= product.producto_precio %>" name="precio" id="precio" value="<%= product.producto_precio %>">
                </div>
                <div>
                    <label for="stock">Stock</label>
                    <input type="number" placeholder="<%= product.producto_stock %>" name="stock" id="stock" value="<%= product.producto_stock %>">
                </div>
                <div>
                    <img src="/images/<%= product.producto_imagen %>" alt="">
                </div>
                <div>
                    <label for="productImage">Seleccionar imagen:</label>
                    <input type="file" id="productImage" name="productImage" accept="productImage">
                </div>
                <div class="div-button-submit">
                    <button type="submit" class="btn-new-product">GUARDAR</button>
                </div>
            </div>
        </form> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>