<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="producto-detail">
            <h1>Detalles del Producto</h1>

            <div class="product-page">
                <h2><%= product.producto_descripcion %></h2>
                <p>Descripción: <%= product.producto_detalle %></p>
                <p>Categoría: <%= product.categoria_id %></p>
                <p>Precio: <%= product.producto_precio %></p>
                <p>Stock: <%= product.producto_stock %></p>
                <img src="/images/<%= product.producto_imagen %>" alt="<%= product.producto_name %>">
            </div>

            <button onclick="agregarAlCarrito()" class="cart">Agregar al Carrito</button>

            <div class="related-products">
                <h2>Productos Relacionados</h2>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>