<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/search.ejs') %>
        <link rel="stylesheet" href="/css/artPrincipales.css">
        <link rel="stylesheet" href="/css/reciente.css">
     
    <main>
     
        <section class="articulos-principales">
            <% 
            const productosAleatorios = productosdata.sort(() => Math.random() - 0.5);
            productosAleatorios.forEach(producto => { 
        %>
                <div class="articulo-item">
                    <a href="/products/details/<%= producto.producto_id %>">
                    <img src="/images/<%= producto.producto_imagen %>" alt="<%= producto.producto_imagen %>" class="product-image">
                    <h3><%= producto.producto_descripcion %></h3>
                    <p><%= producto.producto_detalle %></p>
                    <p>Precio: $<%= producto.producto_precio %></p>
                    <p>Stock: <%= producto.producto_stock %></p>
                </a>
                
                <% if (user && user.rol_id==2) { %>
                    <div class="articulo-options">
                        <a href="/products/details/<%= producto.producto_id %>"><i class="fa-solid fa-circle-info"></i></a>
                        <a href="/products/editproduct/<%= producto.producto_id %>"><i class="fa-solid fa-square-pen"></i></i></a>
                    </div>
                    <% } %>
                </div>
               
                   
            <% }); %>
            
        </section>
        <section class="recientes">
            <h2>Agregados recientemente:</h2>
            <div class="recientes-items">
                <% productosRecientes.forEach(producto => { %>
                    <div class="reciente-item">
                        <a href="/products/details/<%= producto.producto_id %>">
                        <img src="/images/<%= producto.producto_imagen %>" alt="<%= producto.producto_imagen %>" class="product-image">
                        <h3><%= producto.producto_descripcion %></h3>
                        <p><%= producto.producto_detalle %></p>
                        <p>Precio: $<%= producto.producto_precio %></p>
                        <p>Stock: <%= producto.producto_stock %></p>
                        </a>
                        <% if (user && user.rol_id==2) { %>
                            <div class="articulo-options">
                                <a href="/products/details/<%= producto.producto_id %>"><i class="fa-solid fa-circle-info"></i></a>
                                <a href="/products/editproduct/<%= producto.producto_id %>"><i class="fa-solid fa-square-pen"></i></i></a>
                            </div>
                            <% } %>
                    </div>
                <% }); %>
            </div>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>