<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <main>
        <section class="producto-detail">
            <h1>Detalles del Producto</h1>

            <div class="product-page">
                <h2><%= product.producto_descripcion %></h2>
                <p>Descripción: <%= product.producto_detalle %></p>
                <p>Categoría: <%= product.categoria.categoria_descripcion %></p>
                <p>Precio: <%= product.producto_precio %></p>
                <p>Stock: <%= product.producto_stock %></p>
                <img src="/images/<%= product.producto_imagen %>" alt="<%= product.producto_name %>">
            </div>
            <% if (user && user.rol_id==1) { %>
             <a href="/carrito" class="button primary">Agregar al Carrito</a>

                <%  } %>
            
                <% if (user && user.rol_id==2) { %>
                <a href="/products/editproduct/<%= product.producto_id %>" class="button primary">Editar este producto</a>

            <%  } %>
            <!-- <div class="related-products">
                <h2> Agregar aqui Productos Relacionados</h2>
            </div> -->
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>