<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="../../css/editUser.css">
    <main>
        <form action="/users/edituser/<%= user.user_id %>" method="post" enctype="multipart/form-data" class="edit-user-form">
            <div class="form-group">
                <h2>EDITAR USUARIO</h2>
                <div>
                    <label for="fullname">Nombre completo</label>
                    <input class="<%= locals.errors && errors.fullname ? 'input-error' : '' %>" type="text" id="fullname" name="fullname" placeholder="Nombre completo" value="<%= user.user_fullName %>">
                    <% if (locals.errors && errors.fullname) { %>
                    <span class="form-validation-error"><%= errors.fullname.msg %></span>
                    <% } %>
                </div>
                <div>
                    <label for="username">Usuario</label>
                    <input class="<%= locals.errors && errors.username ? 'input-error' : '' %>" type="text" id="username" name="username" placeholder="Usuario" value="<%= user.username %>">
                    <% if (locals.errors && errors.username) { %>
                    <span class="form-validation-error"><%= errors.username.msg %></span>
                    <% } %>
                </div>
                <div>
                    <label for="email">Correo electr칩nico</label>
                    <input class="<%= locals.errors && errors.email ? 'input-error' : '' %>" id="email" name="email" placeholder="Correo electr칩nico" value="<%= user.user_email %>">
                    <% if (locals.errors && errors.email) { %>
                    <span class="form-validation-error"><%= errors.email.msg %></span>
                    <% } %>
                </div>
                <div>
                    <label for="password">Contrase침a</label>
                    <input type="password" class="<%= locals.errors && errors.password ? 'input-error' : '' %>" id="password" name="password" placeholder="Contrase침a">
                    <% if (locals.errors && errors.password) { %>
                    <span class="form-validation-error"><%= errors.password.msg %></span>
                    <% } %>
                </div>
                <div class="user-image-preview">
                    <img src="/images/<%= user.user_imagen %>" alt="Imagen de perfil">
                </div>
                <div>
                    <label for="userImage">Imagen de perfil</label>
                    <input type="file" id="userImage" name="userImage" accept="image/*">
                    <% if (locals.errors && errors.userImage) { %>
                    <span class="form-validation-error"><%= errors.userImage.msg %></span>
                    <% } %>
                </div>
                <br>
                <br>
                <div class="div-button-submit">
                    <button type="submit" class="btn-new-user">GUARDAR</button>
                </div>
            </div>
        </form> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>