<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
  <%- include ('../partials/header.ejs') %>
  <link rel="stylesheet" href="../../css/login.css">
  <main>
    <h1>Bienvenidos a Purum</h1>
    <div class="login-container">
      <form action="/users?_method=PUT" method="POST" class="form-login" onsubmit="return validateForm()">
        <div class="login-item input-group">
          <label for="username">Usuario:</label>
          <input class="<%= locals.errors && errors.username ? 'input-error' : null %>" type="text" id="username" name="username" placeholder="Ingrese su nombre de Usuario" value="<%= typeof old !== 'undefined' && old.username ? old.username : '' %>">
          <% if (locals.errors && errors.username){ %>
          <span class="form-validationError">
            <%= errors.username.msg %>
          </span>
          <% } %>
        </div>
        <div class="login-item input-group">
          <label for="password">Contraseña:</label>
          <input type="password" class="<%= locals.errors && errors.password ? 'input-error' : null %>" id="password" name="password" placeholder="Ingrese su contraseña">
          <br />
          <% if (locals.errors && errors.password){ %>
          <span class="form-validationError">
            <%= errors.password.msg %>
          </span>
          <% } %>
        </div>
        <div class="login-item">
          <button class="buttonDecoration" type="submit">
            Iniciar sesión
          </button>
        </div>
        <div>
          <label for="remember">Recordarme</label>
          <input type="checkbox" name="remember" id="remember" />
        </div>
        <div>
          <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </main>
  <%- include ('../partials/footer.ejs') %>
  <script src="/js/loginValidations.js"></script>
</body>
</html>
